@value button-size: 20px;

.header {
  display: inline-block;
}

.collapse-button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  display: inline-block;
  height: button-size;
  transition: transform 0.3s;
  width: button-size;

  &::after {
    content: '▼';
  }
}

.collapse-button-collapsed {
  transform: rotate(-90deg);
}

.content {
  overflow-y: hidden;
}

.content-collapsed {
  height: 0;
}
