@value searchbox-input from '../../constants/colors.css';
@value width: 200px;

.root {
  display: inline-block;
  height: 22px;
  margin: 2px;
  width: width;
}

.input {
  background-color: searchbox-input;
  border: none;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.font-list {
  max-height: 200px;
  overflow-y: scroll;
  width: width;
  transition: max-height 0.1s;
  position: absolute;
  z-index: 10;

  &.font-list-closed {
    max-height: 0;
  }
}
