.hue {
  background:
    linear-gradient(
      to right,
      #ff0000 0%,
      #ffff00 17%,
      #00ff00 33%,
      #00ffff 50%,
      #0000ff 67%,
      #ff00ff 83%,
      #ff0000 100%
    );
  flex: 0 0 auto;
  height: 20px;
  width: 100%;
  user-select: none;
}
